__pycache__/
*.pyc
.venv/
venv/
.env
.env-prod

.DS_Store

node_modules/
dist/

collection.ods
collection.ods.backup-*
backup/
logs/
users-workspace/
images/
runtime-data/
cloud-application-deploy.zip
runtime/.runtime/
runtime/.env
runtime/.age/
runtime/env/
age-identity*.txt
